body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb;
}

header {
    background-color: #0068b0;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #009add;
    text-align: center;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0068b0;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 40px;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 15px auto;
    padding: 10px;
    width: 60%;
}
